[init]
	defaultBranch = master

[user]
	name = e.tung.tran2
	email = e.tung.tran2@wesang.com

[http]
	sslVerify = true

[commit]
	gpgSign = false

[pull]
	rebase = false

[gui]
	pruneduringfetch = true

[smartgit "submodule"]
	fetchalways = true
	update = true
	initializenew = true

[push]
	recurseSubmodules = check
