[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
name=Anthony Martins
email=tttung.everest@outlook.com

[init]
	defaultBranch = master
[http]
	sslVerify = true
[commit]
	gpgSign = false
[gpg]
    format = ssh
[pull]
	rebase = true
[gui]
	pruneduringfetch = true
[push]
	recurseSubmodules = check
[core]
	fsmonitor = true

[smartgit "submodule"]
	fetchalways = true
	update = true
	initializenew = true

path=~/MEGA/Workspaces/git-user-config-manager-vsc-ext/*